{% extends 'main/layout.html' %}


{% block content %}
    <div class="features">
        <h1>Finances</h1>
        <p>
            Finances is free web application for you to make notes of your financial costs in any moment that you wish.
            We provide some basic groups of financial costs, possibility of making your own groups,
            using any of every existing currency. Also we provide automatic calculation of your financial costs for
            any period that you wish.
        </p>
        <button class="btn btn-warning" onclick="location.href='/about'">About</button>
    </div>
{% endblock %}
