{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finances</title>
    <link rel="stylesheet" href="{% static 'consumer/css/consumer.css'%}">
</head>
<body>
    <div class="form-box">
        <div class="form-value">
            <form action="">
                <h2>Sign in</h2>
                <div class="inputbox">
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <input type="password" required>
                    <label for="">Password</label>
                </div>
                <div class="forget">
                    <label for=""><input type="checkbox">Remember Me</label>
                    <a href="#">Forget password</a>
                </div>
                <button>Sign in</button>
                <div class="register">
                    <p>Don't have an account? <a href="{% url 'sign_up' %}">Sign up</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>