body {
    background: #2c2c2c;
}

aside {
    overflow: auto;
    float: right;
    background: #1b1b1b;
    width: 19%;
    padding: 2.5%;
    height: 100vh;
    color: white;
    border-left: 10px solid red;
    font-size: 30px;
}

aside img {
    width: 384px;
    height: 128px;
    align-items: center;
    float: left;
}

aside h3 {
    margin-top: 200px;
    font-size: 60px;
}

aside i {
    margin-right: 15px;
}

aside ul {list-style: none}
aside ul li {
    color: white;
    display: block;
    margin-top: 20px;
    font-size: 40px;
    transition: transform .3s ease;
}

aside ul li:hover, aside ul a:hover {
    color: red;
    text-decoration: none;
    transform: scale(1.05);
}

main p {
    text-align: center;
    font-size: 50px;
    color: white;
}

main a {
    text-align: center;
    color: white;
    display: block;
    margin-top: 20px;
    font-size: 40px;
    transition: transform .3s ease;
}
main a:hover {
    color: red;
    text-decoration: none;
    transform: scale(1.02);
}

main .features {
    float: left;
    color: white;
    text-align: center;
    width: 81%;
}

main .features button {
    margin: 30px;
    font-size: 40px;
    transition: transform .3s ease;
}
main .features button:hover {
    color: red;
    text-decoration: none;
    transform: scale(1.05);
}

main h2 {
    color: orange;
    padding-top: 50px;
    text-align: center;
    font-size: 150px;
}

main label {
    display: block;
    text-align: center;
    color: lightseagreen;
    padding-top: 10px;
    font-size: 50px;
}

main input {
    height: 50px;
    width: 60%;
    font-size: 40px;
}
